{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
          {{caterory.description|truncatewords:155}}
     {% else %}
       WELCOME TO MOON STORE WHERE YOU CAN BUYS EVERYTHINGS...
     {% endif %}
{% endblock %}
<!--<!-this is the portion of meta description in base html page.-->

{% block title %}
     {% if category %}
         {{category.name}}-MOON STORE
     {% else %}
         SEE OUR NEW COLLECTIONS-MOON SHOP
     {% endif %}
{% endblock %}
<!--this for title part.-->

{% block content %}
{% if category %}
     <div>
        <div class="row my_row_class">
            <div class="mx_auto">
                  <p><a href="{% url 'eshop:allProdCat' %}">OUR PRODUCT COLLECTIONS</a></p>
            </div>
        </div>
     </div>
{% endif %}
<div class="mx_auto">
    {% if category %}
       <img class="my_image" src="{{category.image.url }}" alt="{{category.name}}">
</div>
   <br>
<div>
      <h1 class="text-center my_title">{{category.name}}</h1>
      <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <div>
        <img class="my_image  my_image_padding" src="{% static 'img/banner new.png' %}" alt="OUR PRODUCTS" width="1300px;" height="400px;">
    </div>
</div>
<br>
<div>
    <h1 class="text-center  mx_auto">OUR PRODUCUCT COLLECTION</h1>
    <P class="text-justify"><b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</b> </P>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
         <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
             <div class="card text-center" style="min-width:18rem;">
                 <a href="{{product.get_url}}"> <img class="card-img-top  my_image_padding" src="{{product.image.url}}"  alt="{{product.name}}"></a>
                 <div class="card_body">
                     <h1>{{product.name}}</h1>
                     <p>{{product.price}}</p>
                 </div>
             </div>
         </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
               <a href="?page={{pg}}"  class= "btn btn-dark btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}